#testdiv  {
  color: #fff328;
}

/*Set height and width of map document in 'mapid' div*/
#mapid {
  height: 450px;
  width: 800px;
}

/*Change popup content for proportional symbol map*/
/*Decrease margins and line height for a tighter popup*/
.leaflet-popup-content {
  margin: 5px 10px;
  line-height: 0.7;
  background-color: #fff7bc;
}

/*Make popup appear near symbol*/
.leaflet-popup {
  position: absolute;
}

/*Change color of close button and hover color*/
.leaflet-container a.leaflet-popup-close-button {
  color: #b8564f;
}

.leaflet-container a.leaflet-popup-close-button:hover {
  color: #ff2617;
}
/*Written by Chris Archuleta, 2020*/
